<!DOCTYPE html>
<html>
	<head>
		<%include ../header%>
	</head>
	<body>
		<%include ../toper%>
		<div class="container">
			<h3>日期、时间选择控件使用样例</h3>
		    <div>
		      <div class="alert alert-info">		         
		        xjdatepicker之前需要在页面上引入对应的样式和脚本，因为 xjdatepicker依赖jquery，所以你还需额外引入 jquery
		      </div>
		      <div class="codep"><code>&lt;link rel="stylesheet" href="css/plugin/xjdatepicker.css" type="text/css"&gt;</code></div>
		      <div class="codep"><code>&lt;script src="js/plugin/xjdatepicker.js" type="text/javascript"&gt;&lt;/script&gt;</code></div>
		    </div>
		    <h5>1. 默认的日期选择框</h5>
		    <div style="margin-top:20px;">		     
		    </div>
		    <h5>2. 带有时间选择的日期选择框</h5>
		    <div style="margin-top:20px;">		    
		    </div>
		</div>
		<%include ../bottomer%>
	</body>
</html>