<!DOCTYPE html>
<html>
	<head>
		<%include ../header%>
		<link rel="stylesheet" href="/css/plugin/xjtabpanel.css" media="screen" type="text/css"/>
		<style type="text/css">		
		</style>
	</head>
	<body>
		<%include ../toper%>
		<div class="container">
			<h3>xjtabpanel选项卡使用样例</h3>
		    <div>
		      <div class="alert alert-info">		         
		        xjtabpanel之前需要在页面上引入对应的样式和脚本，因为xjtabpanel依赖jquery，所以你还需额外引入jquery，
		      </div>
		      <div class="codep"><code>&lt;link rel="stylesheet" href="css/plugin/xjtabpanel.css" type="text/css"&gt;</code></div>
		      <div class="codep"><code>&lt;script src="js/plugin/xjtabpanel.js" type="text/javascript"&gt;&lt;/script&gt;</code></div>
		    </div>
		    <h5>1. 默认的日期选择框</h5>
		    <div style="margin-top:10px;">
		   		<div id="tab1"></div>     
		    </div>
		    <code>new xjTabPanel("dptext1",{ picker:"&lt;img src='/img/icon/s.gif' class='picker' alt='选择'/&gt;" });</code>
		</div>
		<%include ../bottomer%>
	</body>
</html>