<!DOCTYPE html>
<html>
	<head>
		<%include header%>
	</head>
	<body>
		<%include toper%>
		<div class="container">
			<h4> 首页还没做好呢！ </h4>
			<div>
				<a href="/sample/xjtree">xjtree</a> |
				<a href="/sample/xjdatepicker">xjdatepicker</a> |
				<a href="/sample/dailog">xjiframedailog</a> |
			</div>
		</div>
		<%include bottomer%>
	</body>
</html>