doctype 5
html
	head
	title= title
	meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
	link(href="favicon.png",rel="icon")
	link(rel="stylesheet",href="/css/bootstrap.min.css",media="screen",type="text/css")
	link(rel="stylesheet",href="/css/google-bootstrap.css",media="screen",type="text/css")
	link(rel="stylesheet",href="/css/common.css",media="screen",type="text/css")
	//[if lt IE 9]
		script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
	block headercontent
body
	div.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-inner
			div.container
				button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href='#') xjPlugin
				div.nav-collapse.collapse
					ul.nav
						li(class=(view=="home"?'active':''))
							a(href='./index')
								i.icon-home.icon-white 
								| Home
						li(class=(view=="sample"?'active':''))
							a(href='./sample') Sample
						li(class=(view=="api"?'active':''))
							a(href='./api') API &amp; Doc
						li(class=(view=="download"?'active':''))
							a(href='./download')
								i.icon-download-alt.icon-white 
								| Download
	// /.nav-collapse
	div.container
		block content
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
	block jscontent