<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="brand">xjPlugin</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="./index"><i class="icon-home icon-white"></i>Home</a></li>
					<li class="active"><a href="./sample">Sample</a></li>
					<li><a href="./api">API &amp; Doc</a></li>
					<li><a href="./download"><i class="icon-download-alt icon-white"></i>Download</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /.nav-collapse-->